<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <script src="{% static 'js/jQuery_3_7.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <script src="{% static 'bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
    <style>
        body {
            background-image: url({% static 'img/background.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-info" style="margin-top: 100px">
              <div class="panel-heading">
                <h1 class="text-center">
                    <i class="text-left"></i>
                    修改头像
                </h1>
              </div>
              <div class="panel-body">
              <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <ul style="list-style: none">
                          <li>
                              <p>
                                  <b>原头像:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <img src="/media/{{ request.user.avatar }}" alt="" height="100">
                              </p>
                          </li>
                          <li>
                              <p>
                                  <label for="myfile">新头像(请上传图片文件):
                                      <img src="/media/avatar/default.png" id="myimg" alt="头像" height="100"
                                           style="margin-left: 10px">
                                  </label>
                                  <input type="file" id="myfile" name="avatar" style="display: none">
                              </p>
                          </li>
                          <br>
                          <li>
                              <input type="submit" class="btn btn-primary btn-lg" value="修改提交">
                          </li>
                          <br>
                          <li>
                              <a href="/{{ username }}/" class="btn btn-info btn-lg">进入用户主页</a>
                          </li>
                          <br>
                          <li>
                              <a href="/home/" class="btn btn-warning btn-lg">进入首页</a>
                          </li>
                      </ul>
    </form>
</div>
</div>
</div>
</div>
</div>
    <script>
        $("#myfile").change(function () {
            // 文件阅读器对象
            // 1. 先生成一个文件阅读器对象
            let myFileReaderObj = new FileReader();
            // 2. 获取用户上传的头像文件
            let fileObj = $(this)[0].files[0];
            // 3. 将文件对象交给阅读器读取
            myFileReaderObj.readAsDataURL(fileObj);     // 异步操作 IO操作
            // 4. 利用文件阅读器将文件展示到前端页面 修改src属性
            // 等待文件阅读器加载完毕再执行
            myFileReaderObj.onload = function () {
                $("#myimg").attr("src", myFileReaderObj.result);
            }
        })
    </script>
</body>
</html>